<!DOCTYPE html>
<html>
  <head>
    <title>Web API Using <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Web API Using <%= title %></h1>
    <p>Welcome to User Managament API using <%= title %></p>
  </body>
</html>
